@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Voting system that gurantees privacy, anonymity, fairness and strong encryption</p>
</div>
